*{
    margin: 0px;
}
body{
    justify-content: center;
    align-items:center;
    padding-top: 70pt;
    text-align: center;
    height: 100vh;
    width: 100vw;
}
.LP{
    display:flex;
    justify-content: center;
    align-items:center;
    padding-top: 70pt;
    text-align: center;
    background-color: aqua;
    width: 100vw;
    height: 85vh;
}
.green{
    background-color: green;
}
.red{
    background-color: red;
}